* text eol=lf
*.jsc binary
*.xml binary
*.png binary
*.jpg binary
*.ico binary
*.sln binary
*.html binary
*.css binary
*.ai binary
*.svg binary
# The assembler of the Windows targets is a binary and must be stored as is.
tools/asm/* binary
